.header {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #b5e3f5;
    color: coral;
    margin-bottom: 75px;
}
/* .btn {
    background-color:#b5e3f5;
    border-color:coral;
    color:black;
} */
.topBox{
    width: 80%;
    height: 200px;
    position: relative;
}

.dynamic {
    margin:1em;
    float:left;
    font-size:24px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    top:50%;
}
.left {
    width: 40%;
    border:2px solid black;
}
.right{
    width: 40%;
    border:2px solid black;
}

.pholder:empty:before {
    content:attr(placeholder);
    color:gray
  }
  .midde{
    border:none;
    width: 20%;
    padding-top: 30px;
}
.close {
    color: black    ;
    opacity: 1;
}

/* .graph {
    height: 70px;
    width: 10%;
    overflow:auto;
} */
.caret {
    position: absolute;
    right: 16px;
    top: 16px;
}

/* .dropdown-menu {width: 100%;} */

.map-container{
  margin-top: 20px;
  width: 100%;
  position: absolute;
}
#map{
  height: 650px;
  width: 650px;
  display: inline-block;
  float:left;
}
#clicked-state{
  width: 350px;
  height: 50px;
  font-size: 28px;
  font-style: oblique;
  display: inline-block;
  float:left;
}
#state-info{
  width: 250px;
  height: 400px;
  position:absolute;
  top: 0px;
  font-size: 16px;
}
.inf{
  margin: 0;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
