doctype html
html
head
  title #{title}
  link(rel='stylesheet'
   href='/css/style.css')
  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")

  script(src='/us-map-1.0.1/lib/raphael.js')
  script(src='/us-map-1.0.1/jquery.usmap.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous")

  script    
    include index.js
  meta(name="viewport" content="width=device-width, initial-scale=1")
body
  main
    block header
      header.header
        h1 #{title}
    block content
    div.container
      div.row
        div.col
          div.form-group
            label(for="select-states") Select the state(s) you would like to see data for
            select.form-control#select-states(multiple)
              option All States
              each state in states
                option #{state}
      div.row
        button.btn.btn-primary(id="plot-btn") Plot!
        //- Interactive Map 
      //- div.row  
      //-   div.map-container
      //-     div#map 
      //-     div#clicked-state
      div.row
        div.col
          canvas#birth_rate-chart(width="400" height="400" style="display: none")
        div.col
          canvas#unemployment-chart(width="400" height="400" style="display: none")
      div.row
        div.col
          canvas#crime-chart(width="400" height="400" style="display: none")
        div.col
          canvas#education-chart(width="400" height="400" style="display: none")
      div.row
        div.col
          canvas#elevation-chart(width="400" height="400" style="display: none")
        div.col
          canvas#income-chart(width="400" height="400" style="display: none")
      div.row
        div.col
          canvas#homeless-chart(width="400" height="400" style="display: none")
        div.col
          canvas#population-chart(width="400" height="400" style="display: none")
      div.row
        div.col
          canvas#mental_illness-chart(width="400" height="400" style="display: none")
        div.col
          canvas#mortality-chart(width="400" height="400" style="display: none")
      div.row
        div.col
          canvas#poverty-chart(width="400" height="400" style="display: none")
        div.col
          canvas#sex_and_race-chart(width="400" height="400" style="display: none")
      div.row
        div.col
          canvas#std-chart(width="400" height="400" style="display: none")
      div.row
        div.col
          canvas#voting-chart(width="400" height="400" style="display: none")
      div.row
        div.col
          canvas#weather-chart(width="400" height="400" style="display: none")


